In [1]:
print('hoi ' + 'Vinayak')

hoi Vinayak

In [3]:
print('hoi\n'*10)

hoi
hoi
hoi
hoi
hoi
hoi
hoi
hoi
hoi
hoi

In [4]:
print('twee ' + 2)

TypeError: can only concatenate str (not "int") to str

In [5]:
print('twee ' + str(2))

twee 2

In [6]:
print("hi *cough*")

hi \*cough\*

In [7]:
print("hi *cough*")

hi *cough*

In [8]:
n = input()
print('cijfer: ' + str(n))

hallo
cijfer: hallo

In [9]:
n = input()
print('cijfer: ' + str(n))

1000
cijfer: 1000

In [10]:
n = input('Vul een cijfer in')
print('cijfer ', n)

Vul een cijfer in4
cijfer  4

In [11]:
3**2

9

In [12]:
n = input('Vul een cijfer in')
print('cijfer ', float(n*n))

Vul een cijfer in4

TypeError: can't multiply sequence by non-int of type 'str'

In [13]:
n = input('Vul een cijfer in: ')
print('cijfer ', float(n)**2)

Vul een cijfer in4
cijfer  16.0

n = input('Vul een cijfer in: ')
print('cijfer ', float(n)**2)

In [14]:
10

10

In [15]:
n = input('Vul een cijfer in: ')
print('cijfer ', float(n)**2)

Vul een cijfer in: 50
cijfer  2500.0

In [16]:
n = int(input('Vul een cijfer in: '))
print('cijfer ', n**2)

Vul een cijfer in: 3
cijfer  9

In [1]:
19/5
19//5

3

In [2]:
19/5

3.8

In [3]:
19%5

4

In [9]:
getal = input("getal: ")
for x in str(getal):
  print(x)

getal: 109
1
0
9

In [21]:
x = int(input("getal: "))
print(int((x-x%1000)/1000))
print(int(x-(x-x%1000))//100)
print(int(x-(x-x%1000)))

getal: 1125
1
1
12

In [25]:
getal = int(input("Vul een geheel getal in van vier cijfers"))

print(int(getal%10000//1000))
print(int(getal%1000//100))
print(int(getal%100//10))
print(int(getal%10))

Vul een geheel getal in van vier cijfers1234
1
2
3
4

In [28]:
min = int(input("Vul het aantal minuten in: "))
overige_minuten = min%60
uren = min//60
print(f"uren: {uren} en overige minuten: {overige_minuten}")

Vul het aantal minuten in: 105
uren: 1 en overige minuten: 45

In [29]:
print(str(2+2))

4

In [30]:
print(str(2 + 3) + " hoi")

5 hoi

In [31]:
print("hoi", 3)

hoi 3

In [32]:
print(False)

False

In [33]:
print(False or True)

True

In [34]:
def hoi()
    print("hallo en hoi?!?1😎😎😎😎😎😎😎")
    
hoi()

SyntaxError: invalid syntax (2203198827.py, line 1)

In [35]:
print("😎")

😎

In [43]:
def hoi():
    print("✅✅✅✅")
    return
    
hoi()

✅✅✅✅