In [1]:
print('hoi ' + 'Vinayak')

hoi Vinayak

In [3]:
print('hoi\n'*10)

hoi
hoi
hoi
hoi
hoi
hoi
hoi
hoi
hoi
hoi

In [4]:
print('twee ' + 2)

TypeError: can only concatenate str (not "int") to str

In [5]:
print('twee ' + str(2))

twee 2

In [6]:
print("hi *cough*")

hi \*cough\*

In [7]:
print("hi *cough*")

hi *cough*

In [8]:
n = input()
print('cijfer: ' + str(n))

hallo
cijfer: hallo

In [9]:
n = input()
print('cijfer: ' + str(n))

1000
cijfer: 1000

In [10]:
n = input('Vul een cijfer in')
print('cijfer ', n)

Vul een cijfer in4
cijfer  4

In [11]:
3**2

9

In [12]:
n = input('Vul een cijfer in')
print('cijfer ', float(n*n))

Vul een cijfer in4

TypeError: can't multiply sequence by non-int of type 'str'

In [13]:
n = input('Vul een cijfer in: ')
print('cijfer ', float(n)**2)

Vul een cijfer in4
cijfer  16.0

n = input('Vul een cijfer in: ')
print('cijfer ', float(n)**2)

In [14]:
10

10

In [15]:
n = input('Vul een cijfer in: ')
print('cijfer ', float(n)**2)

Vul een cijfer in: 50
cijfer  2500.0

In [16]:
n = int(input('Vul een cijfer in: '))
print('cijfer ', n**2)

Vul een cijfer in: 3
cijfer  9